@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    /* Color Palette Variables */
    --color-1: 201 55% 54%; /* #51b7c3 */
    --color-2: 217 48% 51%; /* #4575bf */
    --color-3: 204 69% 75%; /* #94c7eb */
    --color-4: 196 100% 30%; /* #00739a */
    --color-5: 196 100% 35%; /* #007eb4 */

    /* Application Colors */
    --background: var(--color-3);
    --foreground: var(--color-4);
    --card: var(--color-1);
    --card-foreground: var(--color-5);
    --popover: var(--color-2);
    --popover-foreground: var(--color-3);
    --primary: var(--color-4);
    --primary-foreground: var(--color-3);
    --secondary: var(--color-2);
    --secondary-foreground: var(--color-1);
    --muted: var(--color-1);
    --muted-foreground: var(--color-4);
    --accent: var(--color-5);
    --accent-foreground: var(--color-3);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--color-3);
    --border: var(--color-2);
    --input: var(--color-1);
    --ring: var(--color-4);
    --chart-1: var(--color-1);
    --chart-2: var(--color-2);
    --chart-3: var(--color-3);
    --chart-4: var(--color-4);
    --chart-5: var(--color-5);
    --radius: 0.5rem;
    --sidebar-background: var(--color-1);
    --sidebar-foreground: var(--color-4);
    --sidebar-primary: var(--color-5);
    --sidebar-primary-foreground: var(--color-3);
    --sidebar-accent: var(--color-2);
    --sidebar-accent-foreground: var(--color-1);
    --sidebar-border: var(--color-4);
    --sidebar-ring: var(--color-5);
  }
  .dark {
    --background: var(--color-4);
    --foreground: var(--color-3);
    --card: var(--color-2);
    --card-foreground: var(--color-1);
    --popover: var(--color-5);
    --popover-foreground: var(--color-3);
    --primary: var(--color-4);
    --primary-foreground: var(--color-3);
    --secondary: var(--color-2);
    --secondary-foreground: var(--color-1);
    --muted: var(--color-1);
    --muted-foreground: var(--color-4);
    --accent: var(--color-5);
    --accent-foreground: var(--color-3);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--color-3);
    --border: var(--color-2);
    --input: var(--color-1);
    --ring: var(--color-4);
    --chart-1: var(--color-1);
    --chart-2: var(--color-2);
    --chart-3: var(--color-3);
    --chart-4: var(--color-4);
    --chart-5: var(--color-5);
    --sidebar-background: var(--color-4);
    --sidebar-foreground: var(--color-3);
    --sidebar-primary: var(--color-5);
    --sidebar-primary-foreground: var(--color-3);
    --sidebar-accent: var(--color-2);
    --sidebar-accent-foreground: var(--color-1);
    --sidebar-border: var(--color-4);
    --sidebar-ring: var(--color-5);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
